.col{
    margin-top: 30px;
}


.taskName{
  float: left;
  font-size: 28px;
  font-weight: 500;
  color: white;
  
}

.inputWList li{
  list-style: none;
  color: white;
  margin-bottom:5px;
  font-size: 16px;
 
}

.inputWList li img{
    margin-left:5px;
    float: right;
   
  
}

.inputWList{
  background-color: rgba(91, 91, 91, 0.85);
  margin-top: 30px;
  width: 415px;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.form-control{
  border: 4px solid #edbd00;
  margin-bottom: 20px;
}

.taskUL{
  display: contents;
  
}

.chBContainer{
  display: block;
  position: relative;
  margin-bottom: 10px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  
  
}

.chBContainer input{
  position:absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
 
}

.checkmark{
  top: 0;
  float: left;
  height: 25px;
  width: 25px;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 5px;
  border: 4px solid #edbd00;
 
}

.chBContainer:hover input ~ .checkmark {
  background-color: #edbd00;
}

.chBContainer input:checked ~ .checkmark {
  background-color: #edbd00;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.chBContainer input:checked ~ .checkmark:after {
  display: block;
}

.chBContainer .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: 3px solid #edbd00;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}



@media screen and (max-width:999px){
  .tasks{
    width: 450px;
  }
  .inputWList{
    width:450px;
    margin-top:15%;
    
  } 
  .taskName{
    padding-top: 10%;
   
    
  }

  .checkmark{
    width: 20px;
    height: 20px;
    border: 3px solid #edbd00;
  }
  .inputWList li img{
    width: 17px !important;
   
  
}
}


@media screen and (max-width:600px){
  .tasks{
    width: 340px;
  }
  .inputWList{
    width:340px;
    margin-top:12%;
    
  }

  .inputWList li{
  
    padding-bottom: 2%;
   
  }

  .taskName{
    padding-top: 7%;
    font-size: 22px;
    
  }

}

@media screen and (max-width:400px){
  .tasks{
    width: 300px;
  }
  .inputWList{
    width:300px;
    margin-top:17%;
    
  }

  .inputWList li{
    font-size: 14px;
    padding-bottom: 2%;
   
  }

  .taskName{
    padding-top: 12%;
    
  }

}

