.w-100{
    display: none;
}

button{
    background-color:#edbd00;
    border: none;
    padding: 10px 35px;
    font-size: 25px;
    font-weight: 500;
    box-shadow: rgba(0, 0, 0, 0.211) 5px 5px 7px;
    margin-top: 30%;
    border-radius: 5px;
}

button>span{
    letter-spacing: 2px;
    color: white;

}


#pickrHeader{
    font-size: 28px;
    font-weight: 500;
    float: left;
    color: white;
}

.pickedTaskBox{
    background-color: rgba(86, 86, 86, 0.85);
    margin-top: 30px;
    width: 400px;
    border-radius: 10px;
    padding: 20px;
    height: 70px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
   

}

#pickedItem{
   color: white;
   float: left;
}

#pickedItem img{
    margin-right: 10px;
}

@media screen  and (max-width: 1300px){
   
    .w-100{
        display: block;
    }
    
    button{
        margin-top: 10%;
    }

    .pickedContainer{
        max-width: 400px;
        padding-top: 10%;

    }

}



@media screen and (max-width: 500px){
    .pickedTaskBox{
        max-width:250px;
        margin-top:20px;
    }
    .pickedContainer{
        max-width: 250px; 
    }

    #pickrHeader{
        font-size: 22px;
       
    }

    #pickedItem{
        font-size: 14px;
    }

    button{

        padding: 8px 25px;
        font-size: 20px;
        font-weight: 500;
        margin-top:15%;
        
       
    }

}

