


/* Background */
body{
    /* background-image: url('images/bubbles.png');
    background-repeat: no-repeat;
     background-size: 120%;  */
    
}







/* Mobile */
@media(min-width: 1000px) {
    /* body{
        background-size: 120% !important;
    } */

   
}

@media(min-width:800px) and (max-width: 992px) {
    /* .col-md{
        margin-bottom: 30px;
    }

    body{
        background-size: 200%;
    }

  

    footer{
        margin-top: 5%;
       
    } */

}

@media(max-width: 700px) {
    /* .col-md{
        margin-bottom: 5%;
    } */

   
}

@media(max-width: 400px) {
    /* body{
        background-size: 500% !important;

    }
   */
   
}