
body{
  /* background-image: url("/src/components/assets/Pencil\ pattern.png");
  background-repeat: no-repeat;
  background-size: 150%; */
    
}

.row{
  margin-top: 3%;
  display: flex;
}

#logo{
    margin-top: 10pt;
    margin-left: 10pt;
}

.col{
  width: 410px;
}





/* Mobile */
@media(min-width: 1000px) {
  

   
}

@media(min-width:800px) and (max-width: 992px) {
  

}

@media(max-width: 700px) {

   
}

@media(max-width: 400px) {
  
   
}