
body{
  /* background-color: #2d2d2d; */
  background: linear-gradient(
    to bottom,
    #2d2d2d 0%,
    #2d2d2d 93%,
    white 20%,
    white 100%
  );

  background-repeat: no-repeat;
  min-height: 100lvh;
  width: 100%;
  display: flex;
  flex-direction: column;
  
    
}


.row{
  margin-top: 5%;
  display: flex;
  width: 100%;
  
}

.container{
  text-align: center;
}



#logo{
    margin-top: 10pt;
    margin-left: 15pt;
   
}

.col{
  
}

.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-image: url("./components/assets/DiagnolBoxes.png");
  background-repeat: no-repeat;
  background-size: 190%;
  background-position-x: 20%;
  height: 25%;
  text-align: center;

}





/* Mobile */
@media (min-width: 1300px) and (max-width: 1700px) {
  .footer{
    background-size: 250%;
  }

   
}

@media(min-width:800px) and (max-width: 1300px) {
  body{
    background: linear-gradient(
      to bottom,
      #2d2d2d 0%,
      #2d2d2d 96%,
      white 20%,
      white 100%
    );
   
  }
  

  .row{
    text-align: -webkit-center;
  }

  .tasks{
    width: 600px;
  }

  .col-sm{
    margin-bottom: 20px;
  }

  button{
    margin-bottom: 50px;
    
  }
  .pickedContainer{
    width: 400px;
  }

  .pickedTaskBox {
    margin: 0 auto;
  }

 
  .footer{
    height:13%;
    background-size: 250%;
  }

}

@media(max-width: 700px) {

   
}

@media(max-width: 400px) {
  
   
}